<article class="sn">

    <div class="thumb">
        {{partial "zelenik_counters"}}
    </div>

  <header class="article-header">
    <h1 class="title">{{ .Title }}</h1>

  </header>

  {{ if .Params.toc }}
  <div class="toc">
    {{ .TableOfContents }}
  </div>
  {{ end }}

  <div class="article-body">{{ .Content }}</div>

  <footer class="article-footer">

    {{ partial "crumb" . }}

    {{ $params := .Params }}
    {{ range $key, $value := $.Site.Taxonomies }}
    {{ if isset $params $key }}
    <section class="footer">
      <header>
        <a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/">{{ i18n $key | upper }}</a>
      </header>
      <div>
        <ul class="terms">
          {{ range (index $params $key) }}
          <li><a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/{{ . | urlize }}/">{{ i18n . }}</a></li>
          {{ end }}
        </ul>
      </div>
    </section>
    {{ end }}
    {{ end }}
  </footer>
