    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width" />
            <title>Зеленик <!--# echo var="herd" --></title>
            <link href="view/style/fontello/css/fontello.css" rel="stylesheet" type="text/css"/>
            <link href="view/style/fontello/css/animation.css" rel="stylesheet" type="text/css"/>
            <link href="view/style/style.css" rel="stylesheet" type="text/css" />
            <link href="view/style/switch.css" rel="stylesheet" type="text/css" />
        </head>
        <body>
            <!--# block name="none" -->None<!--# endblock -->

            <h1>Зеленик <!--# echo var="herd" --></h1>

            <div id="statuses">
                <div class="bliznak-1">
                    <a href="/na/bliznak-1" class="thing-name">bliznak-1</a>
                    <span class="status"></span><span class="status-since"></span>
                </div>
                <div class="bliznak-2">
                    <a href="/na/bliznak-2" class="thing-name">bliznak-2</a>
                    <span class="status"></span><span class="status-since"></span>
                </div>
                <div class="bliznak-3">
                    <a href="/na/bliznak-3" class="thing-name">bliznak-3</a>
                    <span class="status"></span><span class="status-since"></span>
                </div>
                <div class="bliznak-4">
                    <a href="/na/bliznak-4" class="thing-name">bliznak-4</a>
                    <span class="status"></span><span class="status-since"></span>
                </div>
            </div>

            <hr />
            <div id="plot-control">
                <div id="active-info"></div>
            </div>

            <div id="plots">
                <div class="bliznak-1 bliznak-2">
                    <img class="plot-image unselectable" src="bliznak-1/plot.png">
                </div>

                <div class="bliznak-3">
                    <img class="plot-image unselectable" src="bliznak-3/plot.png">
                </div>

                <div class="bliznak-4">
                    <img class="plot-image unselectable" src="bliznak-4/plot.png">
                </div>
            </div>

            <button class="button" id="show-configuration">Настройки</button>

            <div id="configuration">
                <div id="bliznak-1">
                    <a href="/na/bliznak-1">bliznak-1</a>
                    <pre class="bliznak-1 enchanted"><!--#include file="bliznak-1/enchanted.json" --></pre>
                    <pre class="bliznak-1 reported"><!--#include file="bliznak-1/reported.json" --></pre>
                    <form class="bliznak-1 desired-form" action="/na/bliznak-1/update?ret=/stado/bliznatsi" method="POST">
                        <textarea name="desired" class="bliznak-1 desired" rows="15" cols="40"><!--#include file="bliznak-1/desired.json" --></textarea>
                        <input class="button" type="submit" value="Запази">
                    </form>
                    <pre class="bliznak-1 displayables"><!--#include file="bliznak-1/displayables.json" --></pre>
                </div>

                <div id="bliznak-2">
                    <a href="/na/bliznak-2">bliznak-2</a>
                    <pre class="bliznak-2 enchanted"><!--#include file="bliznak-2/enchanted.json" --></pre>
                    <pre class="bliznak-2 reported"><!--#include file="bliznak-2/reported.json" --></pre>
                    <form class="bliznak-2 desired-form" action="/na/bliznak-2/update?ret=/stado/bliznatsi" method="POST">
                        <textarea name="desired" class="bliznak-2 desired" rows="15" cols="40"><!--#include file="bliznak-2/desired.json" --></textarea>
                        <input class="button" type="submit" value="Запази">
                    </form>

                    <pre class="bliznak-2 displayables"><!--#include file="bliznak-2/displayables.json" --></pre>
                </div>

                <div id="bliznak-3">
                    <a href="/na/bliznak-3">bliznak-3</a>
                    <pre class="bliznak-3 enchanted"><!--#include file="bliznak-3/enchanted.json" --></pre>
                    <pre class="bliznak-3 reported"><!--#include file="bliznak-3/reported.json" --></pre>
                    <form class="bliznak-3 desired-form" action="/na/bliznak-3/update?ret=/stado/bliznatsi" method="POST">
                        <textarea name="desired" class="bliznak-3 desired" rows="15" cols="40"><!--#include file="bliznak-3/desired.json" --></textarea>
                        <input class="button" type="submit" value="Запази">
                    </form>

                    <pre class="bliznak-3 displayables"><!--#include file="bliznak-3/displayables.json" --></pre>
                </div>

                <div id="bliznak-4">
                    <a href="/na/bliznak-4">bliznak-4</a>
                    <pre class="bliznak-4 enchanted"><!--#include file="bliznak-4/enchanted.json" --></pre>
                    <pre class="bliznak-4 reported"><!--#include file="bliznak-4/reported.json" --></pre>
                    <form class="bliznak-4 desired-form" action="/na/bliznak-4/update?ret=/stado/bliznatsi" method="POST">
                        <textarea name="desired" class="bliznak-4 desired" rows="15" cols="40"><!--#include file="bliznak-4/desired.json" --></textarea>
                        <input class="button" type="submit" value="Запази">
                    </form>

                    <pre class="bliznak-4 displayables"><!--#include file="bliznak-4/displayables.json" --></pre>
                </div>
            </div>

            <hr />
            <footer>
                <ul class="horizontal-list">
                    <li>Зеленик 2017</li>
                    <li><a href="/">Начало</a></li>
                    <li><a href="/db">Всички устройства</a></li>
                    <li><a href="mailto:akodzhabashev@gmail.com">Свържете се с нас</a></li>
                </ul>
            </footer>
            <script src="view/scripts/event.js"></script>
            <script src="view/scripts/plot.js"></script>
            <script src="view/scripts/status.js"></script>
            <script src="view/scripts/herd.js"></script>
        </body>
    </html>
