[Unit]
Description=MQTT operator (zelenik)
After=mosquitto.service

[Service]
Restart=always
ExecStart=/www/zelenik/mqtt_operator.py
StandardError=syslog
User=otselo

[Install]
WantedBy=multi-user.target
