[Unit]
Description=REST uWSGI Module
After=syslog.target

[Service]
ExecStart=/www/zelenik/venv/bin/uwsgi /www/zelenik/conf/rest-uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=main

[Install]
WantedBy=multi-user.target
