[Unit]
Description=Uptime Monitor (zelenik)
After=syslog.target

[Service]
Restart=always
ExecStart=/www/zelenik/uptime_monitor.py
StandardError=syslog
User=otselo

[Install]
WantedBy=multi-user.target
