body {
    font-size: 1rem;
    text-align: left;

    max-width: 1024px;
    max-width: 64rem;

    margin: 0 auto;
    padding: 0 16px;
    padding: 0 1rem;
}

textarea {
    font-size: 1rem;
}

.clear {
    clear: both;
}


@media all and (min-width: 840px) {
    #reported, #desired {
        float: left;
        width: 50%;
    }
}

ul li {
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 500px) {
    footer * {
        margin: 15px 0 0 10px;
    }
}

.horizontal-list li {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
    padding-bottom: 8px;
}

.vertical-list li {
    list-style-type: none;
    height: 70px;
    line-height: 70px;
    padding-bottom: 8px;
}

#connection-problem {
    font-size: 22px;
    max-width: 450px;
    display: block;
    margin: 10px auto;
    color: white;
    padding:10px 10px 10px 18px;
    border-radius:10px;
    background: red;
    display: none;
    height: auto;
    line-height: normal;
}

#switches-view {
    text-align: center;
}

.excl-mark {
    font-size: 45px;
    display:block;
    float:left;
    margin-left: 8px;
}

#plot, #plots > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.plot-image {
    max-width: 340px;
}

.displayable {
    position: absolute;
    border: 3px solid #4CAF50; /*Green */
    border-radius: 30px;
    padding:8px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.displayable.active {
    padding: 12px;
    font-weight: bold;
}

/* src: http://stackoverflow.com/a/13407898 */

.unselectable {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

#plot-control * {
    margin: 8px;
    display: inline-block;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

.button:hover {
    background-color: #f44336;; /* Red */
    color: white;
}

#plot-input {
    display: none;
}

.hidden {
    display: none;
}

#active-info {
    display:block;

}
