<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <title>Зеленик <!--# echo var="thing" --></title>
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!--# block name="none" -->None<!--# endblock -->

        <h3>
        Зеленик <!--# echo var="thing" -->
        </h3>

        <hr />

        <div id="reported">
        Reported
        <pre><!--#include file="reported.json" --></pre>
        </div>

        <div id="desired">
        Desired 
        <br>
        <form action="update" method="POST">
        <textarea name="desired" wrap="off" rows="15" cols="40"><!--#include file="desired.json" stub="none"--></textarea>
        <br>
        <input type="submit" value="Update">
        </form>
        </div>

        <div class="clear"></div>

        <div id="graph">
        <img src="graph.png">
        </div>

        <div id="aliases">
        Aliases:
        <br>
        <form action="update" method="POST">
        <textarea name="aliases" wrap="off" rows="10" cols="40"><!--#include file="aliases.json" stub="none"--></textarea>
        <br>
        <input type="submit" value="Update">
        </form>
    </body>
</html>
