    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width" />
            <title>Зеленик <!--# echo var="thing" --></title>
            <link href="view/style/style.css" rel="stylesheet" type="text/css" />
        </head>
        <body>
            <!--# block name="none" -->None<!--# endblock -->

            <h1>Зеленик 
            <!--# echo var='thing' -->
            </h1>

            <hr />

            <div id="plot-control">
                <p id="active-info"></p>
                <button id="change-plot-positions" class="button">Премести</button>
                <form action="update" method="POST" enctype="multipart/form-data">

                    <label for="plot-input" class="button">
                        Качи нов чертеж
                    </label>
                    <input type="file" id="plot-input" name="plot" accept="image/png">
                    <input id="change-plot" class="button" type="submit" value="Промени чертежа">
                </form>
            </div>
            <div class="clear"></div>



            <div id="plot">
                <img id="plot-image" class="unselectable" src="plot.png">

            </div>
            <div id="graph">
                <img src="graph-1-median-21.png">
                <ul class="horizontal-list">
                    <li>Ден</li>
                    <li><a href="graph-2-median-21.png">Два дни</a></li>
                    <li><a href="graph-7-median-21.png">Седмица</a></li>
                    <li><a href="graph-31-median-21.png">Месец</a></li>
                    <li><a href="graph-256-median-21.png">Година</a></li>
                </ul>
            </div>


            <div id="reported">
            <pre><!--#include file="reported.json" --></pre>
            </div>

            <div id="desired">
            <form action="update" method="POST">
            <textarea name="desired" wrap="off" rows="15" cols="40"><!--#include file="desired.json" stub="none"--></textarea>
            <br>
            <input class="button" type="submit" value="Запази">
            </form>
            </div>

            <div class="clear"></div>
            
            <div id="displayables">
            <form id="displayables-form" action="update" method="POST">
            <textarea id="displayables-input" name="displayables" wrap="off" rows="10" cols="40"><!--#include file="displayables.json" stub="none"--></textarea>
            <br>
            <input type="submit" value="Запази" class="button">
            </form>

            <form action="update" method="POST">
            <h1>Зеленик 
            <input type="text" name="thing-alias" value="<!--# echo var='thing' -->">
            <input class="button" type="submit" value="Запази">
            </h1>
            </form>

            <hr />
            <footer>
                <ul class="horizontal-list">
                    <li>Зеленик 2017</li>
                    <li><a href="/">Начало</a></li>
                    <li><a href="/db">Всички устройства</a></li>
                    <li><a href="mailto:akodzhabashev@gmail.com">Свържете се с нас</a></li>
                </ul>
            </footer>
            <script src="view/scripts/script.js"></script>
        </body>
    </html>
