body {
    font-size: 1rem;
    text-align: left;

    max-width: 1024px;
    max-width: 64rem;

    margin: 0 auto;
    padding: 0 16px;
    padding: 0 1rem;
}

textarea {
    font-size: 1rem;
}

.clear {
    clear: both;
}


@media all and (min-width: 840px) {
    #reported, #desired {
        float: left;
        width: 50%;
    }
}

footer ul {
    float:right;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 500px) {
    footer * {
        margin: 15px 0 0 10px;
    }
    footer ul li {
        float: left;
    }
}

.horizontal-list li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.vertical-list li {
    list-style-type: none;
    padding-right: 20px;
}

.switch-text {
    font-size: 65px;
}

.icon-spin {
    font-size: 60px;
    width: 180px;
    display: inline-block;
}

#connection-problem {
    font-size: 22px;
    max-width: 450px;
    display: block;
    margin: 10px auto;
    color: white;
    padding:10px 10px 10px 36px;
    border-radius:10px;
    background: red;
    display: none;
}

#switches-view {
    text-align: center;
}

.excl-mark {
    font-size: 45px;
    display:block;
    float:left;
}

#plot {
    position: relative;
    width: 100%;
}
.sense {
    position: absolute;
    width: 100%;
}

